@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    /* font-family: 'Nunito Sans', sans-serif; */
}


/* width */
.cm-scroller::-webkit-scrollbar {
    width: 13px;
}

/* Track */
.cm-scroller::-webkit-scrollbar-track {
    background: #262335;
}

/* Handle */
.cm-scroller::-webkit-scrollbar-thumb {
    background: #373149;
}

.cm-scroller::-webkit-scrollbar-thumb:hover {
    background: #4a4364;
}

.app-container{
    display: grid;
    grid-template-columns: 260px calc(100% - 260px);
}

.sidebar{
    background-color: #241b2f;
}

.cm-editor{
    padding-left: 15px;
    background-color: #262335;
}

.cm-gutter{
    background-color: #262335;
}